@charset "utf-8";

@import url(common.css);

h3{margin:0;}
.actCont h2{text-align:left}
.hideGbx{margin:3px 0;padding:7px 15px;font-size:inherit;text-align:center;line-height:1}
.list li{margin-bottom:35px;padding-left:35px;background:url(../img/dot_cir.png) no-repeat 0 20px;font-size:2.25em;line-height:1.2;}
.trBx{position:relative;width:350px;height:356px;}
.trBx .img1{position:absolute;top:0;left:0;}
.trBx .imgUp1{position:absolute;top:0;left:0;}
.page1 .cont{overflow:hidden;padding-top:40px;}
.page1 .fL{width:28%}
.page1 .fR{width:62%;}
.page1 .wBox{overflow:hidden;height:360px;padding:10px 50px 0;}

.titBx{display:inline-block;padding:10px 30px;background:#334d5c;color:#fff;text-align:center;font-size:2em;border-radius:10px}
.page2 .wBox{width:500px;margin:20px auto;}
.page2 .trBx{width:415px;height:260px;margin:0 auto;}
.page2 .trBx img{width:100%}

.olist li{overflow:hidden;margin-bottom:20px;font-size:2.25em}
.olist .numBg{float:left;margin-top:3px;margin-right:20px}
.olist .txt{float:left;width:90%;}

.page3 .wBox{width:500px;margin:20px auto;}
.page3 .trBx{width:415px;height:260px;margin:0 auto;}
.page3 .trBx img{width:100%}